@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #16A085, #F4D03F);

    --background: 179 49.4% 2.88%;
    --foreground: 179 7.6% 96.8%;

    --muted: 179 38% 10.799999999999999%;
    --muted-foreground: 179 7.6% 53.6%;

    --popover: 179 49.8% 4.68%;
    --popover-foreground: 179 7.6% 96.8%;

    --card: 179 49.8% 4.68%;
    --card-foreground: 179 7.6% 96.8%;

    --border: 179 38% 10.799999999999999%;
    --input: 179 38% 10.799999999999999%;

    --primary: 179 76% 36%;
    --primary-foreground: 179 7.6% 96.8%;

    --secondary: 179 38% 10.799999999999999%;
    --secondary-foreground: 179 7.6% 96.8%;

    --accent: 179 38% 10.799999999999999%;
    --accent-foreground: 179 7.6% 96.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 179 7.6% 96.8%;

    --ring: 179 76% 36%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-7xl
  }

  h2 {
    @apply text-6xl
  }

  h3 {
    @apply text-5xl
  }

  h4 {
    @apply text-4xl
  }

  .bg-gradient {
    background: var(--gradient)
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .editorjs-container .ce-toolbar__plus {
    @apply absolute left-2 top-2;
    /* Use Tailwind utilities for positioning */
    right: auto;
    /* Override the default right position */
  }

  .editorjs-container .ce-toolbar__plus .ce-toolbar__plus-button {
    @apply ml-0 mr-auto;
    /* Use Tailwind utilities for margin */
  }

  /* Optional: Ensure the toolbar appears correctly */
  .editorjs-container .ce-toolbar {
    @apply flex justify-start;
    /* Use Tailwind utilities for flex layout */
  }
}