@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --gradient: linear-gradient(to top left, #3CA55C, #B5AC49);
  }

  .dark {
    /* Name: custom color palette
     Author: Ilias Ism
     URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */

    --gradient: linear-gradient(to top left, #3CA55C, #B5AC49);

    --background: 147 30.549999999999997% 3.52%;
    --foreground: 147 4.699999999999999% 97.2%;

    --muted: 147 23.5% 13.2%;
    --muted-foreground: 147 4.699999999999999% 54.4%;

    --popover: 147 55.6% 5.72%;
    --popover-foreground: 147 4.699999999999999% 97.2%;

    --card: 147 55.6% 5.72%;
    --card-foreground: 147 4.699999999999999% 97.2%;

    --border: 147 23.5% 13.2%;
    --input: 147 23.5% 13.2%;

    --primary: 147 47% 44%;
    --primary-foreground: 147 4.699999999999999% 97.2%;

    --secondary: 147 23.5% 13.2%;
    --secondary-foreground: 147 4.699999999999999% 97.2%;

    --accent: 147 23.5% 13.2%;
    --accent-foreground: 147 4.699999999999999% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 147 4.699999999999999% 97.2%;

    --ring: 147 47% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .bg-gradient {
    background: var(--gradient)
  }
}